<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339807792755-e7065v11idp6a7nrcafok22v9s3cn9fk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339807792755-e7065v11idp6a7nrcafok22v9s3cn9fk</string>
	<key>API_KEY</key>
	<string>AIzaSyCP6OnOyXiHiP3-5siigDysaLzGLuzvSfI</string>
	<key>GCM_SENDER_ID</key>
	<string>339807792755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.automaticOpenBrowser</string>
	<key>PROJECT_ID</key>
	<string>khaosatkh-6e99f</string>
	<key>STORAGE_BUCKET</key>
	<string>khaosatkh-6e99f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339807792755:ios:c338149a43dfc5eb550406</string>
	<key>DATABASE_URL</key>
	<string>https://khaosatkh-6e99f.firebaseio.com</string>
</dict>
</plist>