<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>notification.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B2CE20556313C08678788ED4B189C8989906D46D</string>
				<key>dateExpires</key>
				<string>11/16/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CE20556313C08678788ED4B189C8989906D46D</string>
						<key>dateExpires</key>
						<string>11/16/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4DL5Z8G52</string>
						<key>name</key>
						<string>Xuan Thang Tran</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CE20556313C08678788ED4B189C8989906D46D</string>
						<key>dateExpires</key>
						<string>11/16/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4DL5Z8G52</string>
						<key>name</key>
						<string>Xuan Thang Tran</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CE20556313C08678788ED4B189C8989906D46D</string>
						<key>dateExpires</key>
						<string>11/16/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4DL5Z8G52</string>
						<key>name</key>
						<string>Xuan Thang Tran</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CE20556313C08678788ED4B189C8989906D46D</string>
						<key>dateExpires</key>
						<string>11/16/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4DL5Z8G52</string>
						<key>name</key>
						<string>Xuan Thang Tran</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CE20556313C08678788ED4B189C8989906D46D</string>
						<key>dateExpires</key>
						<string>11/16/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4DL5Z8G52</string>
						<key>name</key>
						<string>Xuan Thang Tran</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CE20556313C08678788ED4B189C8989906D46D</string>
						<key>dateExpires</key>
						<string>11/16/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4DL5Z8G52</string>
						<key>name</key>
						<string>Xuan Thang Tran</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CE20556313C08678788ED4B189C8989906D46D</string>
						<key>dateExpires</key>
						<string>11/16/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4DL5Z8G52</string>
						<key>name</key>
						<string>Xuan Thang Tran</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CE20556313C08678788ED4B189C8989906D46D</string>
						<key>dateExpires</key>
						<string>11/16/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4DL5Z8G52</string>
						<key>name</key>
						<string>Xuan Thang Tran</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CE20556313C08678788ED4B189C8989906D46D</string>
						<key>dateExpires</key>
						<string>11/16/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4DL5Z8G52</string>
						<key>name</key>
						<string>Xuan Thang Tran</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CE20556313C08678788ED4B189C8989906D46D</string>
						<key>dateExpires</key>
						<string>11/16/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4DL5Z8G52</string>
						<key>name</key>
						<string>Xuan Thang Tran</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CE20556313C08678788ED4B189C8989906D46D</string>
						<key>dateExpires</key>
						<string>11/16/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4DL5Z8G52</string>
						<key>name</key>
						<string>Xuan Thang Tran</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CE20556313C08678788ED4B189C8989906D46D</string>
						<key>dateExpires</key>
						<string>11/16/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4DL5Z8G52</string>
						<key>name</key>
						<string>Xuan Thang Tran</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CE20556313C08678788ED4B189C8989906D46D</string>
						<key>dateExpires</key>
						<string>11/16/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>screen.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4DL5Z8G52</string>
						<key>name</key>
						<string>Xuan Thang Tran</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CE20556313C08678788ED4B189C8989906D46D</string>
						<key>dateExpires</key>
						<string>11/16/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4DL5Z8G52</string>
						<key>name</key>
						<string>Xuan Thang Tran</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>V4DL5Z8G52.com.example.automaticOpenBrowser</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>V4DL5Z8G52</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>17c07b77-b222-4e3f-a4d8-0fa24a466d9f</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.example.automaticOpenBrowser</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>V4DL5Z8G52</string>
				<key>name</key>
				<string>Xuan Thang Tran</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
